doctype html
html
    head
        title | Realty Stocks
    body
        header
            h1 Realty Stocks
        main
            block content
        footer 
            span &copy; Nicole Y. Son